{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class="main-posts">

        {% if top_post %}
            <article class="top-article">
                TOP ARTICLE <a href="{{ path('post_view', {id: top_post.id, alias: top_post.alias}) }}">{{ top_post.title }}</a>
            </article>
        {% endif %}

        {% if posts|length > 0 %}
            <div class="posts">
                {% for post in posts %}
                    <article id="post-{{ post.id }}">
                        <a href="{{ path('post_view', {id: post.id, alias: post.alias}) }}" class="cover">
                            <img
                                src="{{ asset('images/' ~ post.cover.filename ~ '_310.jpg') }}"
                                srcset="{{ asset('images/' ~ post.cover.filename ~ '_310.jpg') }} 310w, {{ asset('images/' ~ post.cover.filename ~ '_350.jpg') }} 350w, {{ asset('images/' ~ post.cover.filename ~ '_550.jpg') }} 550w, {{ asset('images/' ~ post.cover.filename ~ '_640.jpg') }} 640w"
                                sizes="(max-width: 48rem) 550px, (max-width: 62rem) 350px, (max-width: 75rem) 310px, 550px"
                                alt="{{ post.cover.title|e }}"
                            />
                        </a>
                        <a href="{{ path('post_view', {id: post.id, alias: post.alias}) }}" class="title"><h2>{{ post.title }}</h2></a>
                        <time datetime="{{ post.publishDate|date('c') }}">{{ post.publishDate|date('d.m.Y H:i') }}</time>
                        <a href="{{ path('post_view', {id: post.id, alias: post.alias}) }}" class="description">{{ post.content|striptags|slice(0,240) }}</a>
                        <a href="{{ path('post_view', {id: post.id, alias: post.alias}) }}" class="more">Continue Reading</a>
                    </article>
                {% endfor %}
            </div>

            {% if next_page_offset < posts|length %}
                <nav class="pagination">
                    <a href="{{ path('posts_list', { offset: next_page_offset }) }}">Next</a>
                </nav>
            {% endif %}
        {% else %}
            <div class="posts">
                <div class="no-articles">No articles</div>
            </div>
        {% endif %}
    </main>
{% endblock %}