{% extends 'base.html.twig' %}

{% block title %}API Users | {% endblock %}

{% block head_css %}
<link href="{{ asset('/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active"><a href="{{ path('api_users_list') }}">API Users</a></li>
                    </ol>
                </div>
                <h4 class="page-title">API Users</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <table id="table" class="table w-100 nowrap">
            <thead>
            <tr>
                <th>ID</th>
                <th>Token</th>
                <th>Created Date</th>
                <th>Status</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script src="{{ asset('/assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js') }}"></script>

<script src="{{ asset('/assets/js/api_user/index.js') }}"></script>
{% endblock %}